h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: brown;
    font-size: 24px;
}

h2 {
    color: brown;
    font-size: 18px;
    text-decoration: underline;
}

.squarelistorder {
    list-style-type: square;
}

.iletterorder {
    list-style-type: lower-roman;
}